.container {
    margin: 20px auto; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 800px; 
    width: 90%; 
    box-sizing: border-box;
}

.hidden {
    display: none;
}

input,select,button {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}